.result-table {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #ddd;
    padding: 10px;
}


.css-19r6kue-MuiContainer-root {
    padding-left: 0; 
    padding-right: 0 
}

